In [0]:
#Chapter 2.3
import keyword

In [0]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [0]:
print("\n Number of keywords are :",len(keyword.kwlist))

 Number of keywords are : 33

In [0]:
#Chapter 2.4

# comments are either this or

'''
Comments can also be 
on the multiline
'''

'\nComments can also be this\n'

In [0]:
#indentation
for i in range(10):
  print (i)
  print (i*2)
print (100)  # not in the for loop

0
0
1
2
2
4
3
6
4
8
5
10
6
12
7
14
8
16
9
18
100

In [0]:
#multi line statement either with \ or with "()"

a = 1+2+3 +\
4+5+6 + \
7+8+9

a = (1+2+3+
     4+5+6+
     7+8+9)


print(a)

45

In [0]:
# multiple statement in single line
a = 10 ; b=11; c = 13

In [0]:
#Chapter 2.5 - Variables and data types

a = 10 #integer
b = 5.5 #float
c = "ML" #string

#or another way of writing is
a, b, c = 10, 5.5, "ML"

In [0]:
#Storage location

In [0]:
x = 3
print(id(x))

10910464

In [0]:
y = 3
print(id(y))

10910464

In [0]:
a = 3
print (type(a))

<class 'int'>

In [0]:
a = 5.5
print(type(a))

<class 'float'>

In [0]:
a = 1+2j
print(type(a))
print(isinstance(a, complex)) #check the instance if it is complex then prints out as True

<class 'complex'>
True

In [0]:
a = True
print(type(a))

<class 'bool'>

In [0]:
a = "This is our AI course" # can also be single quote char
print(type(a))

<class 'str'>

In [0]:
a = """AIIC course
    this is our multiple line"""
print(a)
print(type(a))

AIIC course
    this is our multiple line
<class 'str'>

In [0]:
#print(a[3]) #prints c
print(a[-1]) #prints the last char i.e. e and from there -1, -2, etc etc

e

In [0]:
#print everything from 5 onwards
print(a[5:])

course
    this is our multiple line

In [0]:
# print from 5 to 9th and not till 10th
print(a[5:10])

cours

In [0]:
#python list

a = [10, 2.5, "AI"]
print(a[1])

2.5

In [0]:
#lists are mutable
a[1] = 30.1
print(a)
print(type(a))

[10, 30.1, 'AI']
<class 'list'>

In [0]:
#tuples
z = (10, 1.5, "ML")
print(z[2])
print(z)
print(type(z))

ML
(10, 1.5, 'ML')
<class 'tuple'>

In [0]:
y = {10, 17, 2, 3}
print(y)
print(type(y))

{3, 17, 10, 2}
<class 'set'>

In [0]:
#set storing only unique values
w = {1,1,2,3,4,5,6,7,7,7,7}
print(w)

{1, 2, 3, 4, 5, 6, 7}

In [0]:
#dictionary
d = {'a':"apple", 'b':"bat", '1': "20"}
print(d)
print(type(d))
print(d['1'])
print(d['a'])

{'a': 'apple', 'b': 'bat', '1': '20'}
<class 'dict'>
20
apple

In [0]:
float(5)

5.0

In [0]:
int(100.5)

100

In [0]:
str(100)

'100'

In [0]:
#conversion

s = [1,2,3]
print(type(s))

a = set(s)
print(type(a))

#conversion from sting to list
f = "hello"
print(type(f))
print(f)
print(type(f))
f = list(f)
print(f)

<class 'list'>
<class 'set'>
<class 'str'>
hello
<class 'str'>
['h', 'e', 'l', 'l', 'o']

In [0]:
#python input and output

print("hello world")

hello world

In [0]:
a = 10
print ("value of a in int is", a)
print ("value of a in str is" + str(a))

value of a in int is 10
value of a in str is10

In [0]:
b = 20; c= 45
print("The value of b is {} and the value of c is {}".format(b,c))
print("the new values of a is {2} b is {1} and c is {0}".format(a,b,c)) #change the values by changing the arguments

The value of b is 20 and the value of c is 45
the new values of a is 45 b is 20 and c is 10

In [0]:
print("hello good morning {0}, welcome to {1} course".format('rakesh', 'AI'))
print("hello good morning {name}, welcome to {course} course".format(name='rakesh', course='AI'))

hello good morning rakesh, welcome to AI course
hello good morning rakesh, welcome to AI course

In [0]:
num = input("Enter a number")
print(num)

Enter a number1234567890
1234567890

In [0]:
#Operators

In [0]:
x,y = 10,20
print(x+y)
print(x-y)
print(x*y)

30
-10
200

In [0]:
#modulo
print(15%2)
#floor
print (15//2) 
print(-15//2)
print(15/-2) #need to check this

1
7
-8
-7.5

In [0]:
a,b = 10, 20
print(a<b)

True

In [0]:
a, b = True, False
print(a and b)
print(a or b)

False
True

In [0]:
#binary
a, b = 10, 4
print (a & b)
print (a | b)

0
14

In [0]:
a += 10
print(a)

30

In [0]:
a = 5
b = 5
print(a is b)

q1 = [1,2,3]
w1 = [1,2,3]
print(q1 is w1)

e1 = "AAIC"
r1 = "AAIC"
print(e1 is r1)

True
False
True

In [0]:
t = [1,2,3,4,5, "st"]
print ("st" in t)
print (6 in t)

True
False

In [0]:
y = {a : "data1", b : "beta1"}
print (a in y)
print ("data" in y) #can only check for keys and not for values

True
False

In [0]:
# control flow

a = 15
if (a > 10):
  print ("zzzz")
print("Always print")

zzzz
Always print

In [0]:
y = 20

if (y > 25):
  print("This")
else:
  print ("That")

That

In [0]:
nuke = 10
if (nuke > 0):
  print("+ve number")
elif (nuke == 0):
  print("zero")
else:
  print("-ve number")

+ve number

In [0]:
#while loop

lst = [10,20,30,40,50]
product = 1
index = 0

while index < len(lst):
  print("product is {}".format(product))
  print ("index is {}".format(index))
  product = product * lst[index]
  index +=1
  
print("final product is {}".format(product))

product is 1
index is 0
product is 10
index is 1
product is 200
index is 2
product is 6000
index is 3
product is 240000
index is 4
final product is 12000000

In [0]:
#if the given number is prime or no

number_input = int(input("Enter a number"))

index = 2

while index < number_input:
  if(number_input % index) :
    print("The number {} is divisble by {}".format())

In [0]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9